#content {
  display: flex;
  width: 600px;
  height: 600px;
  background-color: aqua;
}

#content > * {
  flex: 1;
}

#content div div:hover {
  background-color: rgb(55, 155, 55);
}

.box:hover {
  background-color: rgb(88, 253, 12);
}
